<html>
<h1>Your Amazing Team</h1>

<p>Team Name: <%= @team.name %></p><br>
<p>Team Motto: <%= @team.motto %></p><br>


<% @heroes.each do |hero| %>
<h2>Hero Name: <%= hero.name %></h2>
<p> Hero Power: <%= hero.power %></p><br>
<p> Hero Biography: <%= hero.bio %></p><br>
<% end %>
</html>